<footer class="footer-area ">
    <div class="footer-bottom text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <p>
                LEGAL DISCLAIMER:- This site is run by M S Business Engineering
                Limited (trading as Manzeera Solutions) a company registered in
                UK with company number 09072535)<br /> Designed and Developed
                by Inhouse Team.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
