<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Start Preloader -->
<div class="preloader">
  <div class="preloader-wrapper">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</div>
<!-- End Preloader -->
<!-- start main wrapper area -->
<div class="main-wrapper">
  <!-- Start Header Style Section -->
  <app-header></app-header>
  <!-- End Header Style Section -->
  <!-- Start Slider Section -->
  <router-outlet></router-outlet>
  <!-- End Slider Section -->
  <!-- Start Main content Wrapper -->

  <!-- Start footer Section -->
  <app-footer></app-footer>
  <!-- End footer Section -->
</div>
<!-- start main wrapper area -->
<!-- All jQuery -->
