<div class="col-lg-12 marno">
  <div class="inqbox float-e-margins">
    <div class="inqbox-title">
      <h5>
        Batch Schedule
      </h5>
      <div class="inqbox-tools">
        <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>

    <div class="inqbox-content inqbox-content2">
      <div class="row">
        <div class="form-group maryes">
          <form method="post" class="form-horizontal" id="runForm" name="runForm">
            <div>
              <div class="col-sm-3">
                <label>Frequency in hours</label><input type="number" name="frequency" class="form-control">
              </div>
              <!-- label class="col-sm-2 control-label">Url Id</label> -->
              <div class="col-sm-3">
                <label>From Date : </label> <input placeholder="From Date" name="setTodaysFromDate"
                  class="form-control input-min-width-95p" type="date">
              </div>
              <div class="col-sm-3">
                <label>To Date : </label><input type="date" name="setTodaysToDate"
                  class="form-control input-min-width-95p">
              </div>
            </div>
          </form>
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary btn-sm">In Progress</button>
          </div>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
      <div>
        <table class="table table-striped table-bordered table-hover">

          <thead>
            <tr>
              <!-- <th>Index</th> -->
              <th class="tab_res">Name of Configuration</th>
              <th class="tab_res">API Name</th>
              <th class="tab_res">Version</th>
              <th>Target</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody ng-repeat="item in displayConfig">
            <tr *ngIf="!serviceList.length">
                <td colspan="6" style="text-align:center">No records found!</td>
            </tr>
            <tr class="gradeX" *ngFor="let service of serviceList; let i = index; " >
              <!-- <td>{{$index}}</td> -->
              <td class="tab_res">{{service.data_set_name}}</td>
              <td class="tab_res">{{service.api_name}}</td>
              <td class="tab_res">{{service.version}}</td>
              <td class="tab_res">{{service.target}}</td>
              <td>{{((service.active| lowercase)=="activated"?"Activate":"Deactivate")}}</td>
              <td>
                <div class="clearfix">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                      data-target="#updateModal"
                      data-backdrop="false"
                      (click)="getConfigByDataSetName(i)">Update</button>
                    <button type="button" class="btn btn-success btn-lg view-log" data-toggle="modal"
                    data-backdrop="false"
                      data-target="#viewLogsModal" (click)="viewServiceLogs(i)">View Logs</button>
                    <button type="button" class="btn btn-info btn-lg"
                    [ngClass]="{disabled: (runNowLable[i])==0}"
                      (click)="runNow(i)">{{(runNowLable[i]==0?"In Progress":"Run Now")}}</button>
                    <button type="button" class="btn btn-warning btn-lg"
                      [ngClass]="{disabled: (service.delete_flag)!=0}"
                      (click)="deleteConfig(i)">Delete</button>
                    <button type="button" class="btn btn-danger btn-lg"
                      *ngIf="(service.active| lowercase)=='activated'"
                      (click)="updateStatus(i)">Deactivate</button>
                    <button type="button" class="btn btn-success btn-lg activate"
                      *ngIf="(service.active| lowercase)!='activated'"
                      (click)="updateStatus(i)">Activate</button>
                    <button type="button" class="btn btn-danger btn-lg"
                      [ngClass]="{disabled: (service.target)=='S3'}"
                      *ngIf="(service.mode)==1 || (service.mode)=='replace'"
                      (click)="changeMode(i)">Append</button>
                    <button type="button" class="btn btn-success btn-lg"
                    [ngClass]="{disabled: (service.target)=='S3'}"
                    *ngIf="(service.mode)==0 || (service.mode)=='append'"
                      (click)="changeMode(i)">Replace</button>

                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Name of Configuration</th>
              <th>API Name</th>
              <th>Version</th>
              <th>Target</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>

        <!--Update configuration Modal -->
        <div id="updateModal" class="modal fade" role="dialog" style="z-index:1050;">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white;">Update Configuration</h4>
              </div>
              <div class="modal-body">
                <div id="formUpdateMessage">
                </div>
                <form class="form-horizontal" [formGroup]="configForm" (ngSubmit)="onUpdateConfig()">

                  <div class="form-group">

                    <div *ngFor="let apiField of updateApiFieldList; let i=index;">

                      <!-- <div *ngIf="apiField[0].trim()=='delete_flag'">
                              <input type="text" name="{{apiField[0].trim()}}" class="form-control"
                              placeholder="{{(apiField[0].replace('_',' ') | titlecase)}}* (Example : http://www.example.com)" ngModel
                              #i="ngModel" [(ngModel)]="apiField[1]" required>
                          </div> -->

                      <div *ngIf="apiField[0].trim().toLowerCase()=='url'" class="col-sm-6">
                        <label for="{{apiField[0]}}">{{(apiField[0].replace('_',' ') | titlecase)}}</label>
                        <input id="{{apiField[0]}}" type="text" name="{{apiField[0].trim()}}" class="form-control"
                          placeholder="{{(apiField[0].replace('_',' ') | titlecase)}}* (Example : http://www.example.com)"
                          formControlName="{{apiField[0].trim()}}" required>
                        <div
                          *ngIf="configForm.get(apiField[0]).invalid && (configForm.get(apiField[0]).dirty || configForm.get(apiField[0]).touched)"
                          class="alert alert-danger">
                          <div *ngIf="configForm.get(apiField[0]).errors.required">
                            {{apiField[0].replace("_"," ") | titlecase}} is required.
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6"
                        *ngIf="apiField[0].trim().toLowerCase()!='url' && apiField[0].trim()!='url_password' && apiField[0].trim()!='email_list' ">
                        <label for="{{apiField[0]}}">{{(apiField[0].replace('_',' ') | titlecase)}}</label>
                        <input type="text" id="{{apiField[0]}}" name="{{apiField[0].trim()}}" class="form-control"
                          placeholder="{{(apiField[0].replace('_',' ') | titlecase)}}*"
                          formControlName="{{apiField[0].trim()}}">
                        <div
                          *ngIf="!configForm.get(apiField[0].trim()).valid && (configForm.get(apiField[0]).dirty || configForm.get(apiField[0]).touched)"
                          class="alert alert-danger">
                          <div *ngIf="configForm.get(apiField[0]).errors.required">
                            {{apiField[0].replace("_"," ") | titlecase}} is required.
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6" *ngIf="apiField[0].trim()=='url_password' ">
                        <label for="{{apiField[0]}}">{{(apiField[0].replace('_',' ') | titlecase)}}</label>
                        <input type="password" id="{{apiField[0]}}" name="{{apiField[0].trim()}}" class="form-control"
                          placeholder="{{(apiField[0].replace('_',' ') | titlecase)}}*"
                          formControlName="{{apiField[0].trim()}}" #passwordInput required>
                          <span style="margin-top: -47px" class="fa fa-fw fa-eye field-icon toggle-password" (click)="changePasswordToggle(passwordInput)"></span>
                        <div
                          *ngIf="configForm.get(apiField[0]).invalid && (configForm.get(apiField[0]).dirty || configForm.get(apiField[0]).touched)"
                          class="alert alert-danger">
                          <div *ngIf="configForm.get(apiField[0]).errors.required">
                            {{apiField[0].replace("_"," ") | titlecase}} is required.
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6" *ngIf="apiField[0].trim().toLowerCase()=='email_list'">
                        <label for="{{apiField[0]}}">{{(apiField[0].replace('_',' ') | titlecase)}}</label>
                        <input type="text" id="{{apiField[0]}}" name="{{apiField[0].trim()}}" class="form-control"
                          placeholder="{{(apiField[0].replace('_',' ') | titlecase)}}*"
                          formControlName="{{apiField[0].trim()}}">
                        <div
                          *ngIf="configForm.get(apiField[0]).invalid && (configForm.get(apiField[0]).dirty || configForm.get(apiField[0]).touched)"
                          class="alert alert-danger">
                          <span *ngIf="!configForm.get(apiField[0]).errors['email'] && configForm.get(apiField[0]).invalid && (configForm.get(apiField[0]).dirty || configForm.get(apiField[0]).touched)">
                            Email is required.
                          </span>
                          <span *ngIf="configForm.get(apiField[0]).errors['email']">
                              Email is not valid.
                            </span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Update changes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>

        <!-- View Logs Modal -->
        <div id="viewLogsModal" class="modal fade" role="dialog" style="z-index:1050;">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">View Logs </h4>
              </div>
              <div class="modal-body table-responsive" style="padding-bottom:0px;">
                <div *ngIf="collectionSize>0">
                  <table style="overflow: auto" class="table table-striped table-bordered table-hover">
                    <thead style="background-color: #ccccff">
                      <tr>
                        <th>Dataset Name</th>
                        <th>Message</th>
                        <th>Timestamp</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="item in viewLogs ">
                      <tr class="gradeX" *ngFor="let log of viewLogs; let i = index">
                        <td>{{log.dataset_name}}</td>
                        <td>
                          {{log.message}}
                        </td>
                        <td>{{log.time_stamp}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <center *ngIf="collectionSize>0">
                    <ngb-pagination [collectionSize]="collectionSize" (pageChange)="getPageFromService($event)"
                      [(page)]="page" [boundaryLinks]="true" [ellipses]="true" [maxSize]="10"></ngb-pagination>
                  </center>
                </div>
                <div *ngIf="collectionSize==0">{{viewLogsData}}</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Services Modal -->
        <div id="servicesModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Services</h4>
              </div>
              <div class="modal-body">
                <strong>Content to be placed here</strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- About us  Modal -->
        <div id="aboutModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">About Us</h4>
              </div>
              <div class="modal-body">
                <strong>Content to be placed here</strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Contact us  Modal -->
        <div id="contactModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Contact Us</h4>
              </div>
              <div class="modal-body">
                <strong>Content to be placed here</strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Edit Profile Modal -->
        <div id="editModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Profile</h4>
              </div>
              <div class="modal-body">
                <strong>Content to be placed here</strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Benefit Modal -->
        <div id="benefitModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color: #646D7E">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Benefits</h4>
              </div>
              <div class="modal-body">
                <strong> <i class="fa fa-users" style="color: #008080"></i><br> <span class="nav-label">Extensive
                    Knowledge across a range
                    of BI platforms and implementation of strategies </span><br>
                  <br> <i class="fa fa-money" style="color: #008080"></i><br>
                  <span class="nav-label">Optimum value through the
                    best Practice Models and utilisation of global delivery
                    model </span><br> <br> <i class="fa fa-puzzle-piece" style="color: #008080"></i><br> <span
                    class="nav-label">Expert Knowledge and experience
                    leads to higher quality and more effective BI </span> <br> <br>
                  <i class="fa fa-cogs" style="color: #008080"></i><br>
                  <span class="nav-label">Best Practice Models and
                    extensive experience leads to minimal risk </span> <br> <br>
                  <i class="fa fa-area-chart" style="color: #008080"></i><br>
                  <span class="nav-label">Rapid implementation
                    enabling minimal impact and maximum results </span> <br> <br>
                  <i class="fa fa-handshake" style="color: #008080"></i><br>
                  <span class="nav-label">Maximising BI
                    business,increasing ROI and full metting business
                    requirements </span>
                </strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
