<div class="wrapper wrapper-content animated fadeInRight">


    <div class="col-lg-12">
        <div class="inqbox float-e-margins">
          <div class="inqbox-content">
            <h2>Dashboard</h2>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active"><strong>About us</strong></li>
            </ol>
          </div>
        </div>
      </div>


          <div class="clearfix"></div>



          <div class="main-heading-content text-center">
              <h2>
                Center of  <span>Excellence</span>
              </h2>

            </div>





<div class="">


        <div class="col-md-4">


          <div class="abt-container">


            <div class="icon-set set-left">
              <img src="./assets/img/icons/icon01.png" alt="icon-puzzle">
            </div>


            <div class="abt-point">
              Working Integration Scenarios <br />(Proof of Concept)
            </div>


          </div>






          <div class="abt-container">


            <div class="icon-set set-left">
              <img src="./assets/img/icons/icon02.png" alt="icon-notes">
            </div>


            <div class="abt-point">Points of Views</div>


          </div>






          <div class="abt-container">


            <div class="icon-set set-left">
              <img src="./assets/img/icons/icon03.png" alt="icon-coins">
            </div>


            <div class="abt-point">
              Smooth Implementation for Customer Success
            </div>


          </div>


        </div>






        <div class="col-md-4">


          <img src="./assets/img/about/CoE.png" class="img-responsive"
            alt="icon-notes">


        </div>






        <div class="col-md-4">


          <div class="abt-container">


            <div class="icon-set set-right">
              <img src="./assets/img/icons/icon04.png" alt="icon-news">
            </div>


            <div class="abt-point" align="right">
              Knowledge <br />Documents
            </div>


          </div>






          <div class="abt-container">


            <div class="icon-set set-right">
              <img src="./assets/img/icons/icon05.png" alt="icon-gear">
            </div>


            <div class="abt-point" align="right">
              Best Practices <br /> Technical Industry
            </div>


          </div>






          <div class="abt-container">


            <div class="icon-set set-right">
              <img src="./assets/img/icons/icon06.png" alt="icon-synchronize">
            </div>


            <div class="abt-point" align="right">
              Expert Organisation for Complex/New Issues and Technical
              Challenges
            </div>


          </div>


        </div>


      </div>

  <div class="clearfix"></div>

      </div>
