<div class="row">
    <div class="col-md-4 col-sm-3">
      <div class="logo">
        <h2>
          <a href="index.html"><img src="./assets/img/logo.png" class="img-responsive" alt="Manzeera Logo"></a>
        </h2>
      </div>
    </div>
    <div class="col-md-8 col-sm-10 hidden-xs hidden-sm mainmenu-main-wrapper">
      <div class="menu-area add-search">
        <nav>
          <ul class="main-menu hover-style-one clearfix ">
            <!-- 	<li class="active"><a href="" data-toggle="modal"
                data-target="#homeModal">Home </a></li>
              <li><a href="" data-toggle="modal"
                data-target="#aboutModal">About Us</a></li>
              <li><a href="" data-toggle="modal"
                data-target="#servicesModal">Services</a></li>
              <li><a href="" data-toggle="modal"
                data-target="#benefitModal">Benefits</a></li>
              <li><a href="" data-toggle="modal"
                data-target="#contactModal">Contact Us</a></li> -->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/home">Home </a></li>
            <li routerLinkActive="active"><a  routerLink="/about-us">About Us</a></li>
            <li routerLinkActive="active"><a routerLink="/services">Services</a></li>
            <li routerLinkActive="active"><a routerLink="/benefits">Benefits</a></li>
            <li routerLinkActive="active"><a routerLink="/contact-us">Contact Us</a></li>

          </ul>
        </nav>
      </div>
    </div>
    <div class="mobile-menu-area">
      <div class="mobile-menu-custom">
        <ul>
          <!-- <li class="active"><a href="" data-toggle="modal"
              data-target="#homeModal">Home</a></li>
            <li><a href="" data-toggle="modal"
              data-target="#aboutModal">About Us</a></li>
            <li><a href="" data-toggle="modal"
              data-target="#servicesModal">Services</a></li>
            <li><a href="" data-toggle="modal"
              data-target="#benefitModal">Benefits</a></li>
            <li><a href="" data-toggle="modal"
              data-target="#contactModal">Contact Us</a></li> -->
          <li class="active"><a href="home">Home</a></li>
          <li><a href="about-us">About Us</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="benefits">Benefits</a></li>
          <li><a href="contact-us">Contact Us</a></li>

        </ul>
      </div>
    </div>
  </div>
