  <!-- Start Slider Section -->
  <div class="home-toe-slider-area text-center">
      <div class="slider-wrapper-two">
        <div class="slider-item-two  bg-opacity-black-70 slider-bg-three third-slide">
          <div class="container">
            <div class="row">
              <div class="slider-content-area ">
              </div>
            </div>
          </div>
        </div>
        <div class="slider-item-two  bg-opacity-black-70 slider-bg-two second-slide">
          <div class="container">
            <div class="row">
              <div class="slider-content-area ">
              </div>
            </div>
          </div>
        </div>
        <div class="slider-item-two home-two-slider bg-opacity-black-70 slider-bg-one first-slide">
          <div class="container">
            <div class="row">
              <div class="slider-content-area ">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End Slider Section -->
