<div class="content-section ptb-100 gray-bg ">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center main-heading-two">
            <h2>
              Benefits<span>.</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="service-wrapper">
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div class="service-icon">
                <i class=" icon-book-open"></i>
              </div>
              <div class="service-text">
                <h3>
                  Extensive <br />Knowledge
                </h3>
                <p>Extensive knowledge across a range of BI platforms and
                  implementation strategies</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 ">
            <div class="service-item">
              <div class="service-icon">
                <i class=" icon-bargraph"></i>
              </div>
              <div class="service-text">
                <h3>
                  Optimum <br />Value
                </h3>
                <p>Optimises value through the use of Best Practice Models
                  and utilising global delivery model</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div class="service-icon">
                <i class=" icon-trophy"></i>
              </div>
              <div class="service-text">
                <h3>Increase Quality and Effectiveness</h3>
                <p>Expert knowledge and experience leads to higher quality
                  and more effective BI</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div class="service-icon">
                <i class="icon-shield"></i>
              </div>
              <div class="service-text">
                <h3>
                  Minimises <br />Risk
                </h3>
                <p>Utilising Best Practice Models and extensive experience
                  leads to minimal risk</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div class="service-icon">
                <i class="icon-pencil"></i>
              </div>
              <div class="service-text">
                <h3>
                  Rapid <br />Implementation
                </h3>
                <p>Rapid implementation enabling minimal impact and maximum
                  results</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div class="service-icon">
                <i class="icon-phone"></i>
              </div>
              <div class="service-text">
                <h3>
                  Customer <br />Satisfaction
                </h3>
                <p>Maximising BI success, increasing ROI and fully meeting
                  business requirements enable</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
