<nav class="navbar-default navbar-static-side fixed-menu" role="navigation">
  <div class="sidebar-collapse">
    <div id="hover-menu"></div>
    <ul class="nav metismenu" id="side-menu">
      <li>
        <div class="logopanel" style="margin-left: 0px; z-index: 99999">
          <div class="profile-element">
            <h2>
              <a href="index.html"><img src="/assets/admin/images/logo.png" alt="Manzeera Domo Logo"></a>
            </h2>
          </div>
          <div class="logo-element">
            <a href="index.html"><img src="/assets/admin/images/logo-mobile.png" alt="Manzeera Domo Logo"></a>
          </div>
        </div>
      </li>
      <li>
        <div class="leftpanel-profile"></div>

      </li>
      <li>
        <!-- START : Left sidebar -->
        <div class="nano left-sidebar">
          <div class="nano-content">
            <ul class="nav nav-pills nav-stacked nav-inq">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin"><i
                    class="fa fa-home"></i> <span class="nav-label">Dashboards</span></a></li>
              <li routerLinkActive="active"><a routerLink="/admin/about-us"><i class="fa fa-edit"></i>
                  <span class="nav-label">About Us</span></a></li>
              <li routerLinkActive="active"><a routerLink="/admin/services"><i class="fa fa-table"></i>
                  <span class="nav-label">Services</span></a></li>
              <li routerLinkActive="active"><a routerLink="/admin/benefits"><i class="fa fa-bar-chart-o"></i> <span
                    class="nav-label">Benefits</span></a></li>
              <!-- <li><a href="#"><i class="fa fa-envelope"></i> <span
                class="nav-label">Edit Profile</span></a></li> -->
              <li routerLinkActive="active"><a routerLink="/admin/contact-us"><i class="fa fa-magic"></i>
                  <span class="nav-label">Contact Us</span></a></li>
            </ul>
          </div>
        </div> <!-- END : Left sidebar -->
      </li>
    </ul>
  </div>
</nav>
