<div
class="banner-area banner-bg-1 ptb-100 bg-opacity-black-90 text-center">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="banner-wrapper">
      <h2>About Us</h2>
      <ul class="breadcome">
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>

<div class="content-section ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="abt-container">
            <div class="icon-set set-left"> <img src="/assets/img/icons/icon01.png" alt="icon-puzzle"> </div>
            <div class="abt-point"> Working Integration Scenarios <br />
              (Proof of Concept) </div>
          </div>
          <div class="abt-container">
            <div class="icon-set set-left"> <img src="/assets/img/icons/icon02.png" alt="icon-notes"> </div>
            <div class="abt-point">Points of Views</div>
          </div>
          <div class="abt-container">
            <div class="icon-set set-left"> <img src="/assets/img/icons/icon03.png" alt="icon-coins"> </div>
            <div class="abt-point"> Smooth Implementation for <br />
              Customer Success </div>
          </div>
        </div>
        <div class="col-md-4"> <img src="/assets/img/about/CoE.png" class="img-responsive"
							alt="icon-notes"> </div>
        <div class="col-md-4">
          <div class="abt-container">
            <div class="icon-set set-right"> <img src="/assets/img/icons/icon04.png" alt="icon-news"> </div>
            <div class="abt-point" align="right"> Knowledge <br />
              Documents </div>
          </div>
          <div class="abt-container">
            <div class="icon-set set-right"> <img src="/assets/img/icons/icon05.png" alt="icon-gear"> </div>
            <div class="abt-point" align="right"> Best Practices <br />
              Technical Industry </div>
          </div>
          <div class="abt-container">
            <div class="icon-set set-right"> <img src="/assets/img/icons/icon06.png" alt="icon-synchronize"> </div>
            <div class="abt-point" align="right">Expert Organisation
              for Complex/New Issues and Technical Challenges</div>
          </div>
        </div>
      </div>
    </div>
  </div>
