<div class="content-section ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center main-heading-two">
            <h2>
              Our <span>Services</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="row pricing-homepage-two">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="price-item text-center border-bottom">
            <div class="pricing-head">
              <div class="pricing-icon">
                <i class="bi bi-home"></i>
              </div>
              <h4 class="plan-title">Architecture Strategy</h4>
            </div>
            <div class="pricing-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">Architecture</h4>
              </div>
              <ul class="table-content">
                <li>Propose Architecture Patterns</li>
                <li>Customer Specific Scenarios</li>
                <li>SAP Scenarios</li>
              </ul>
              <div class="price-tage-wrapper">
                <h4 class="price-value">Strategy</h4>
              </div>
              <ul class="table-content">
                <li>Project Implementation</li>
                <li>Migration</li>
                <li>Team Building</li>
                <li>BI Strategy</li>
                <li>CIO Advisory</li>
                <li>Data Security Approach</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="price-item text-center feature  border-bottom">
            <div class="pricing-head">
              <div class="pricing-icon">
                <i class="bi bi-code-browser"></i>
              </div>
              <h4 class="plan-title">Domain/Process</h4>
            </div>
            <div class="pricing-content">
              <ul class="table-content">
                <li>Process Specific KPI Framework</li>
                <li>Industry Specific KPI framework</li>
                <li>Integration Scenarios on Domo</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="price-item text-center border-bottom">
            <div class="pricing-head">
              <div class="pricing-icon">
                <i class="bi bi-calculation"></i>
              </div>
              <h4 class="plan-title">Technical</h4>
            </div>
            <div class="pricing-content">
              <ul class="table-content">
                <li>Proof of Concepts</li>
                <li>SAP Scenarios</li>
                <li>Integration Scenarios</li>
                <li>Customer Specific Request</li>
                <li>State of Art Solutions</li>
                <li>Ability to Combine Technologies for Maximum Impact</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
