<!-- Start Main content Wrapper -->
<div class="main-content-wrapper">
  <!-- Start blog section -->
  <div class="content-section ptb-100 gray-bg clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>
              get in <span>touch</span>
            </h2>
            <p>If you have any enquiries please feel free to contact us
              and a member of our team will get back to you as soon as
              possible.</p>
          </div>
        </div>
      </div>
      <div class="contact-main-wrapper clearfix">
        <div class="col-md-10 col-sm-10 col-md-offset-1">
          <div class="contact-form-wrapper">
            <div class="contact-form">

              <form id="bigtech-contact-form" method="POST" name="queryForm" onsubmit="return false;" novalidate>
                <div>
                  <input class="form-control" name="name" type="text" placeholder="Your Name*" required>
                  <span style="color: red; position: relative; top: -19px;">
                    <span style="display: none; ">Name is required</span>
                  </span>
                </div>
                <div>
                  <input class="form-control" name="email" type="email" placeholder="Email Address*" required>

                      </div>
                      <div
                        >
                        <input class="
                    form-control" name="website" type="url" placeholder="Your Website">

                      </div>
                      <textarea class="
                      text-area" name="message" cols="30" rows="2" type="text" placeholder="Write Message*" id="messageText"></textarea>
                      <button class="button comment-cntact active" type="submit">Send Message</button>
                      <p class="bigtech-send-message"></p>
              </form>
            </div>
          </div>
          <div class="address">
            <div class="address-item">
              <div class="address-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="address-content">
                <h3>Address</h3>
                <p>Venture House, Arlington Square, Downshire Way,
                  Bracknell RG121WA</p>
              </div>
            </div>
            <div class="address-item">
              <div class="address-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="address-content">
                <h3>Phone</h3>
                <p>
                  <a href="callto:+44 7541874074">+44 7541874074</a>
                </p>
              </div>
            </div>
            <div class="address-item">
              <div class="address-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="address-content">
                <h3>Email</h3>
                <p>
                  <a href="mailto:info@manzeerasolutions.co.uk">info@manzeerasolutions.co.uk</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- End blog section -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.3306850507147!2d-0.759875984519303!3d51.41535182962016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487680a6f7868e39%3A0x42e061aa14775f39!2sVenture+House%2C+2+Arlington+Square%2C+Bracknell+RG12+1WA%2C+UK!5e0!3m2!1sen!2sin!4v1523115366369"
  width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
